.jumbotron{
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 48px;
    background-color: #fff;
}

#chatRow{
    padding-bottom: 48px;  
}

#chatCol{
    padding-bottom: 48px;
}

.typed{
    font-family: "Source Sans Pro",Helvetica,Arial,Sans-Serif;
    color: #696A75;
    font-size: 18px;
    line-height: 1.5rem;
    letter-spacing: 0;
    font-weight: 300!important;
    white-space: pre-wrap;
    margin: 50px 20px 50px 50px;
}

.containerJumbotron{
    /*display: none;*/
    margin-top: 20px;
}

.container{
    max-width: 960px;
}

#chat{
    height:100%;
}