.btn{
    color: #FFF;
    font-size: 20px;
    background-color: #EE2E5D;
    text-transform: uppercase;
    border-radius: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 80px;
    outline: 0;
    border: 0;
    min-height: 30px;
    height: 40px;
    line-height: 30px;
    padding: 0 25px;
    display: inline-block;
}